@use '../abstracts' as *;

// Nav Button

.nav__toggle {
  display: none;
  font-size: 1.7rem;
  z-index: 999;
  height: 2.2rem;
  width: 2.2rem;
  margin-bottom: 2px;
  background: transparent;
  color: $white-txt;
  border: none;

  transition: 150ms ease;

  &:hover,
  &:focus-visible {
    transform: scale(1.13);
  }

  &:active {
    transform: scale(1);
  }

  @include mqSmall {
    display: block;
  }

  .bi-x-square {
    font-size: 1.4rem;
  }
}

// General Buttons

.btn {
  text-align: center;
  color: $white-txt;
  font-weight: 500;
  letter-spacing: 0.5px;

  border: $btn-border;
  background: $dark-bg;
  box-shadow: $btn-shadow;
  transition: 200ms ease;

  &:active {
    transform: translateX(-3px);
  }
}

.contact__submit {
  width: max-content;
  margin-right: auto;
  padding: 0.6rem 2rem;

  color: $white-txt;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.5px;

  background: $gray-bg;
  border: $btn-border;
  transition: 200ms ease;

  &:hover,
  &:focus-visible {
    color: $gold;
    transform: scale(1.06);
  }

  &:active {
    transform: scale(1);
  }
}

// Home CTA

.cta__links .btn {
  width: 15rem;
  height: 3.2rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;

  &:hover {
    border-color: $white-txt;
  }
}

// Footer Consultation

.footer__btn {
  margin-bottom: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;

  &:hover {
    color: $black-txt;
    background: $gold;
    border-color: $dark-bg;
  }

  @include mqSmall {
    margin-bottom: 1.1rem;
    padding: 1rem 1rem;
    font-size: 1.1rem;
  }
}
