@use '../abstracts' as *;

// General
.btn,
button,
input[type='submit'] {
  font-family: 'Roboto Slab', serif;
  color: $white-txt;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;

  border: $btn-border;
  cursor: pointer;
  transition: 200ms ease;
}

.btn {
  box-shadow: $btn-shadow;
}

// Nav Button
.nav__toggle {
  display: none;
  font-size: 1.7rem;
  z-index: 999;
  height: 2.2rem;
  width: 2.2rem;
  margin-bottom: 7px;
  background: transparent;
  color: $white-txt;
  border: none;

  transition: 150ms ease;

  &:hover,
  &:focus-visible {
    transform: scale(1.13);
  }

  &:active {
    transform: scale(1);
  }

  @include mqSmall {
    display: block;
  }
}

// Home Call-to-Action
.cta__links .btn {
  width: 15.5rem;
  padding: 0.9rem 1.75rem;
  font-size: 1.2rem;
  background: $dark-bg;

  &:hover {
    border-color: $white-txt;
  }

  &:active {
    transform: translateX(-4px);
  }
}

// Contact Submit
.contact__submit {
  width: max-content;
  margin-right: auto;
  padding: 0.6rem 2.5rem;

  color: $white-txt;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;

  background: $gray-bg;
  border: $btn-border;
  transition: 200ms ease;

  &:hover,
  &:focus-visible {
    color: $gold;
    transform: scale(1.06);
  }

  &:active {
    transform: scale(1);
  }
}

// Footer Consultation
.footer__btn {
  margin-bottom: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;

  @include mqSmall {
    margin-bottom: 1.1rem;
    padding: 1rem 1rem;
    font-size: 1.1rem;
  }

  &:hover {
    color: $black-txt;
    background: $gold;
    border-color: $dark-bg;
  }

  &:active {
    transform: translateX(4px);
    background: $light-gold;
  }
}
