@use '../abstracts' as *;

header {
  max-width: 100vw;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 0.18);

  .header__img {
    margin-top: 2rem;
    background-repeat: no-repeat;
    background-size: cover;

    @include mqSmall {
      margin-top: 3rem;
    }
  }

  .header__bottom {
    @include flexCenter;
    padding-block: 1rem;
    background: $dark-bg;
    border-block: $thin-border;

    ul {
      @include flexCenter;
      gap: 1rem;

      @include mqSmall {
        flex-direction: column;
        gap: 0.75rem;
      }
    }
  }

  .header__diamond {
    width: 0.4rem;
    height: 0.4rem;
    background: $gold;
    transform: rotate(45deg);
  }
}

.home__header {
  .header__img {
    height: 70vh;
    background-image: url('/assets/img/header_home.jpg');

    @include mqMedium {
      background-position: 50%;
    }

    @include mqSmall {
      height: 30vh;
      background-position: 70%;
    }
  }
}

.services__header {
  border-bottom: $thin-border;

  .header__img {
    height: 25vh;
    background-image: url('/assets/img/header_img.png');
    background-position: center;
    margin-top: 3.1rem;

    @include mqSmall {
      height: 25vh;
    }
  }
}
