@use '../abstracts' as *;

header {
  max-width: 100vw;
  background-repeat: no-repeat;

  .header__bottom {
    @include flexCenter;
    padding-block: 1rem;
    background: $dark-bg;
    border-block: $thin-border;
    box-shadow: 0px 1px 8px rgb(0 0 0 / 0.35);

    ul {
      @include flexCenter;
      gap: 1rem;

      @include mqSmall {
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }

  .header__diamond {
    width: 0.4rem;
    height: 0.4rem;
    background: $gold;
    transform: rotate(45deg);
  }
}

.home__header {
  .header__img {
    @include flexCenter;
    overflow: hidden;
    height: 55vh;
    background-image: url('/assets/img/header_home.jpg');
    background-size: cover;
    background-position: 20% -50%;

    @include mqSmall {
      height: 30vh;
      margin-top: 3rem;
      background-position: 70%;
      background-attachment: scroll;
    }
  }
}

.services__header {
  height: 40vh;
  background-image: url('/assets/img/services/header_services.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 3.1rem;
  box-shadow: 0px 1px 8px rgb(0 0 0 / 0.35);
}
