@use '../abstracts' as *;

// Global

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  background: $light-bg;
}

section {
  margin-block: $section__margin-block;
  margin-inline: $section__margin-inline;

  @include mqSmall {
    margin-inline: $section__margin-inline-mobile;
  }
}

img {
  display: block;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

// Animations

@keyframes flicker {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0.4;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 1;
  }
  5% {
    opacity: 0.4;
  }
  6% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  94% {
    transform: rotate(0deg);
  }
  96% {
    transform: rotate(-8deg);
  }
  98% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
