@use '../abstracts' as *;

// Global

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  padding: 0;
  background: $light-bg;
}

section {
  margin-block: $section__margin-block;
  margin-inline: $section__margin-inline;
}

img {
  display: block;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}
