@use '../abstracts' as *;

// General

body {
  font-family: 'Raleway', sans-serif;
}

h1,
h2 {
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.75px;
}

.home h1,
.home h2 {
  font-size: 2.8rem;

  @include mqMedium {
    font-size: 2rem;
  }
}

.intro__service h2 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 1.7rem;
}

.services {
  h1,
  h2 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #363636;
    text-transform: uppercase;
    padding-bottom: 2rem;
    border-bottom: 1px solid $gold-txt;
    margin-bottom: 4rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}

.special-font {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.3rem;
  font-weight: 700;
  background: linear-gradient(#f5d28c, #8f6f30);
  text-shadow: 2px 2px #c8963448;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  @include mqMedium {
    font-size: 2.4rem;
  }
}

.code-font {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.3rem;

  @include mqMedium {
    font-size: 1.2rem;
  }
}

// Nav

nav a {
  color: $white-txt;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

// Footer

footer {
  color: #909090;
  font-size: 0.8rem;
}

.footer__question {
  p {
    color: $gold-txt;
    font-size: 1.4rem;
  }
}
