@use '../abstracts' as *;

// General

body {
  font-family: 'Raleway', sans-serif;
}

h1,
h2 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.75px;
}

h3 {
  font-weight: 500;
  font-size: 1.65rem;
  letter-spacing: 0.75px;
}

.special-font {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  color: #39b54a;
}

.process .special-font {
  color: #3f37d6;
}

.code-font {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.3rem;
}

// Nav

nav a {
  color: $white-txt;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

// Footer

footer {
  color: #909090;
  font-size: 0.8rem;
}

.footer__question {
  p {
    color: $gold-txt;
    font-size: 1.4rem;
  }
}
