// Mixins

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fullScreen {
  @include flexCenter;
  width: 100%;
  height: 100%;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexCenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin threeColumnGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

@mixin twoColumnGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

@mixin pseudoElement {
  position: absolute;
  content: '';
}

@mixin mqSmall {
  @media all and (max-width: 750px) {
    @content;
  }
}

@mixin mqXSmall {
  @media all and (max-width: 400px) {
    @content;
  }
}

@mixin mqMedium {
  @media all and (max-width: 1080px) {
    @content;
  }
}
