@use '../abstracts/mixins' as *;

// Utility Classes

.block {
  display: block;
  @include mqMedium {
    display: inline;
  }
}

//TODO: Fix
.required-input {
  position: relative;

  &::after {
    position: absolute;
    content: '*';
    top: 0;
    left: -0.45rem;
    font-size: 1.2rem;
    color: #4d4d4d;
  }
}

.nav-visible {
  display: flex;
  animation: slideIn 200ms ease 1;
}

.nav-hidden {
  @include mqSmall {
    animation: slideOut 200ms ease 1;
  }
}

.heading {
  @include flexCenter;
  gap: 2.5rem;
  margin-bottom: 2rem;

  @include mqMedium {
    padding-inline: 3vw;
  }

  @include mqSmall {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding-inline: 0;
  }
}

.sr-only {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
