@use '../abstracts/mixins' as *;

// Utility Classes

.block {
  display: block;
  @include mqSmall {
    display: inline;
  }
}

.heading {
  @include flexCenter;
  gap: 2.5rem;
  margin-bottom: 2rem;

  @include mqMedium {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }
}

.sr-only {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
