@use '../abstracts/mixins' as *;

// Main

$home__section__margin-block: 4.5rem 4rem;
$home__section__margin-block-mobile: 3rem 4rem;

$section__margin-block: 4rem 4rem;
$section__margin-block-mobile: 6rem 4rem;

$section__margin-inline: 10vw;
$section__margin-inline-mobile: 8vw;
