@use '../abstracts' as *;

.contact {
  @include flexCenterColumn;
  margin-top: -1rem;
  margin-bottom: 3rem;

  @include mqSmall {
    margin-bottom: 1rem;
  }

  h1,
  h2 {
    margin-bottom: 2rem;
  }
}

// Have a project in mind?
.cta__question-contact {
  width: max-content;
  margin-inline: auto;
  margin-bottom: 2rem;
  gap: 0.6rem;

  @include mqSmall {
    @include flexCenterColumn;
    gap: 1rem;
  }

  img {
    width: 3.5rem;
    background: radial-gradient(#ffdf53cf, #ffe9899e, transparent 70%);

    @include mqSmall {
      width: 5rem;
    }
  }
}

// Bottom contact info
.contact__methods {
  @include flexColumn;
  justify-content: center;
  gap: 1rem;
  width: calc(40vw + 3rem);
  padding-block: 2rem;
  padding-left: 3.25rem;

  color: $white-txt;
  letter-spacing: 0.75px;

  background: $gray-bg;
  border-radius: 0px;
  box-shadow: $card-shadow;

  @include mqMedium {
    width: 80vw;
  }

  @include mqSmall {
    width: 90vw;
    margin-left: 0rem;
    padding: 1.5rem 2rem 1.5rem;
    justify-content: flex-start;
    flex-direction: column;
  }

  @include mqXSmall {
    font-size: 0.9rem;
    padding: 1.5rem 1rem;
    width: 95vw;
  }

  i {
    font-size: 1.3rem;
    margin-right: 2px;
    transform: translateY(2px);

    @include mqSmall {
      display: block;
      margin-bottom: 0.5rem;
    }
  }

  .fa-linkedin {
    font-size: 1.4rem;
  }
}
