@use '../abstracts' as *;

.intro {
  .intro__heading {
    @include heading;
    img {
      width: 17rem;
    }
  }

  .intro__services {
    @include threeColumnGrid;
    gap: 3.5rem;
    img {
      width: 10rem;
    }

    @include mqMedium {
      grid-template-columns: 1fr;
    }
  }

  .intro__service {
    @include flexCenterColumn;
    max-width: 25rem;
    margin: auto;
  }
}

.cta__buttons {
  @include flexCenter;
  gap: 6vw;
  width: 100%;
  padding-block: 4rem;
  background: $dark-bg;

  @include mqMedium {
    flex-direction: column;
    gap: 2rem;
  }

  button {
    width: 14.5rem;
    height: 3.2rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: -3px 3px 6px black;
    transition: 200ms ease;
  }

  .cta__button-services,
  .cta__button-pricing {
    color: $white-txt;
    background: $dark-bg;
    border: 3px solid $light-bg;

    &:hover {
      color: $black-txt;
      background: $light-bg;
    }
  }

  .cta__button-consultation {
    color: $black-txt;
    background: $light-bg;
    border: 3px solid transparent;

    &:hover {
      color: $white-txt;
      background: $dark-bg;
      border-color: $light-bg;
    }
  }
}

.about {
  @include flexCenterColumn;
  .about__heading {
    @include flexCenter;
    gap: 3rem;
    margin-bottom: 2rem;
    img {
      width: 9rem;
    }
  }

  .about__list {
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 60%;
    gap: 4rem;
    margin-left: 3rem;

    img {
      width: 40rem;
      height: 30rem;
      margin-top: 0.5rem;
      filter: brightness(120%);
    }

    ul {
      position: relative;
      height: min-content;
      width: max-content;

      li:not(:nth-of-type(10)) {
        margin-bottom: 0.8rem;
      }

      &::after {
        @include pseudoElement;
        top: 0;
        left: -1.5rem;
        height: 100%;
        width: 0.25rem;
        background: rgba(0, 0, 0, 0.108);
        border-radius: 1px;
      }
    }
  }
}

.process__video {
  width: 2rem;
  height: 2rem;
}

.gallery {
  .gallery__heading {
    @include heading;

    img {
      width: 15rem;
    }
  }
}
