@use '../abstracts' as *;

.intro {
  .intro__heading {
    margin-bottom: 4rem;

    @include mqSmall {
      margin-bottom: 3rem;
    }

    img {
      width: 14.5rem;
      margin-bottom: 0.75rem;

      @include mqMedium {
        order: 2;
      }
    }
  }

  .intro__services {
    @include threeColumnGrid;
    gap: 4vw;
    padding-inline: 3rem;

    @include mqMedium {
      grid-template-columns: 1fr;
      gap: 3rem;
      padding-inline: 1rem;
    }

    img {
      margin-inline: auto;
      width: 7rem;
      z-index: 1;
    }
  }

  .intro__service {
    position: relative;
    overflow: hidden;
    @include flexColumn;
    justify-content: flex-start;
    gap: 1rem;

    height: 24rem;
    min-width: 16rem;
    max-width: 25rem;
    margin: auto;
    padding: 1.5rem 2rem 1.75rem;

    background: $card-bg;
    line-height: $card-lh;
    border: $card-border;
    border-radius: $card-br;
    box-shadow: $card-shadow;
    transition: $ease-in;

    @include mqMedium {
      height: auto;
    }

    &::after {
      @include pseudoElement;
      bottom: -2rem;
      right: -2rem;
      width: 4rem;
      height: 4rem;

      background: $card-accent;
      border-radius: 50%;
      transition: $ease-in;
    }

    &::before {
      @include pseudoElement;
      top: -3.1rem;
      left: -3rem;
      right: -3rem;
      height: 0%;
      border-radius: 50%;
      background: $card-accent;
      transition: $ease-in;
    }

    &:hover::before {
      height: 12rem;
    }

    &:hover::after {
      height: 0rem;
    }

    &:hover {
      background: $gray-bg;
      color: $white-txt;
    }
  }
}

.cta__links {
  @include flexCenter;
  gap: 7vw;
  width: 100%;
  padding-block: 4rem;
  background: $dark-bg;
  border-block: $standard-border;
  box-shadow: $section-shadow;

  @include mqMedium {
    flex-direction: column;
    gap: 2rem;
  }
}

.about {
  @include flexCenterColumn;

  .about__heading {
    margin-top: 0.5rem;

    img {
      width: 8rem;
      animation: wiggle 8s infinite;

      @include mqSmall {
        width: 7rem;
      }
    }
  }

  .about__list {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 30% 60%;
    margin-top: 3rem;
    margin-left: 3rem;

    @include mqMedium {
      @include flexCenterColumn;
      gap: 3.5rem;
      margin-top: 0.5rem;
      margin-left: 2rem;
    }

    img {
      width: 37rem;
      height: 28rem;
      margin-top: -0.5rem;
      filter: brightness(110%);

      @include mqSmall {
        width: 120%;
        height: 120%;
        margin-left: -2rem;
      }
    }

    ul {
      position: relative;
      height: min-content;
      width: max-content;

      li:not(:last-of-type) {
        margin-bottom: 0.8rem;
      }

      &::after {
        @include pseudoElement;
        top: 0;
        left: -1.5rem;
        height: 100%;
        width: 0.25rem;
        background: #0000001c;
        border-radius: 1px;
      }
    }
  }
}

.home__quote {
  padding-block: 4rem;
  padding-inline: 23vw;
  background: $dark-bg;
  border-block: $standard-border;
  box-shadow: $section-shadow;

  @include mqMedium {
    padding-inline: 8vw;
  }

  p {
    position: relative;
    padding: 2.5rem 4rem;
    background: $quote-bg;
    border-radius: 1px;
    box-shadow: -4px 4px 25px black;

    @include mqSmall {
      padding: 2rem;
    }

    &::after {
      position: absolute;
      content: '❝';
      top: -5rem;
      left: -1.25rem;
      text-shadow: 5px 4px 0px $dark-bg;
    }

    &::before {
      position: absolute;
      content: '❞';
      bottom: -8.5rem;
      right: -1.3rem;
      text-shadow: -5px -4px 0px $dark-bg;
    }

    span {
      display: block;
      margin-top: 1rem;
    }
  }
}
