@use '../abstracts' as *;

.services {
  @include flexCenterColumn;
  gap: 3rem;
  margin-top: -1rem;

  @include mqSmall {
    gap: 2rem;
  }

  h1,
  h2 {
    margin-bottom: 4rem;

    @include mqSmall {
      margin-bottom: 3rem;
    }
  }
}

// Main Services Section

.main-services {
  margin-bottom: 3rem;
}

// Card Container
.main-services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25rem;

  @include mqMedium {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mqSmall {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

// Cards
.main-services__card {
  position: relative;
  display: flex;
  align-items: stretch;
  overflow: hidden;

  // Slide down cover card on hover
  &:hover .card__outer,
  &:focus-within .card__outer {
    transform: translateY(120%);
    opacity: 0;
  }
}

// Outer Card
.card__outer {
  position: absolute;
  @include flexCenterColumn;
  inset: 0rem;
  gap: 0.75rem;

  outline: $card-outline;
  outline-offset: -10px;
  border: $standard-border;
  transition: $ease-in;

  // Hide on mobile
  @include mqSmall {
    display: none;
  }

  i {
    font-size: 3rem;
    margin-top: -3rem;
  }

  // Image
  &::after {
    @include pseudoElement;
    inset: 0;
    opacity: 0.15;
    z-index: -1;
  }

  // Overlay
  &::before {
    @include pseudoElement;
    inset: 0;
    z-index: -1;
    background: $dark-bg;
  }
}

// Inner Card
.card__inner {
  position: relative;
  @include flexColumn;
  z-index: -2;
  gap: 1rem;
  padding: 2.5rem 2.5rem;

  background: $gray-bg;
  border: $standard-border;
  outline: $card-outline;
  outline-offset: -10px;
  box-shadow: $small-shadow;
}

// Card Backgrounds
@each $card in ('develop', 'design', 'uiux', 'seo', 'strategy', 'hosting') {
  .card__#{$card} {
    &::after {
      background-image: url('/assets/img/services/#{$card}-card.png');
    }
  }
}

// Process Section

.process {
  margin-top: 0rem;
  margin-bottom: 6rem;

  @include mqSmall {
    overflow: hidden;
  }

  h2 {
    margin-bottom: 3.5rem;
  }
}

.timeline__circle {
  position: absolute;
  left: -3.2rem;
  inset: 0 auto auto -3.1rem;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 3;

  background: $gold;
  border: 4px solid $light-bg;
  border-radius: 50%;
  outline: $standard-border;

  @include mqSmall {
    display: none;
  }
}

.process__timeline {
  position: relative;
  @include flexColumn;
  gap: 5rem;

  @include mqSmall {
    gap: 3rem;
  }

  &::after {
    @include pseudoElement;
    left: -1rem;
    z-index: -1;
    width: 0.25rem;
    height: calc(100% - 11rem);
    background: $gold;
    border-radius: 2px;
    border-left: 2px solid #baa172;
  }
}

.timeline__card {
  position: relative;
  @include flexColumn;
  align-items: center;
  gap: 0.75rem;
  max-width: 35rem;
  margin-left: 1.5rem;
  padding: 2rem 3rem;

  background: $card-bg;
  border-radius: $card-br;
  border: $card-border;
  box-shadow: $card-shadow;

  transform: translateX(50%) scale(0.8);
  opacity: 0;
  transition: all 500ms;

  @include mqSmall {
    align-items: flex-start;
    margin-left: 0rem;
  }

  &:last-of-type {
    align-items: flex-end;

    @include mqSmall {
      align-items: flex-start;
    }
  }
}

.timeline__step {
  position: absolute;
  align-self: flex-start;
  width: max-content;
  padding: 0 0.5rem 1px;
  background: $gray-bg;

  @include mqSmall {
    position: relative;
  }
}

.timeline__step-last {
  background: #289541;
  animation: pop 5s infinite ease;
  align-self: flex-start;
}

.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
