@use '../abstracts' as *;

//TODO: Move text styles to typography

.terms,
.privacy {
  @include flexCenterColumn;
  margin-top: 6rem;
  line-height: 1.6;
  font-size: 0.9rem;
  font-weight: 500;

  .terms__background {
    @include flexColumn;
    gap: 1rem;
    position: relative;
    background: #fff;
    max-width: 50rem;
    padding: 4rem 4.5rem 3.5rem;
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 0.19);
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 700;
  }

  p:first-of-type {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 0.8rem;
    color: #646464;
  }

  ul {
    padding-block: 0.25rem;
    @include flexColumn;
    gap: 1rem;
    list-style: square;
    margin-left: 1rem;
  }
}
